<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>The home page at <strong><%= new Date() %></strong></p>
        <ul>
            <li><a href="about/">About</a></li>
            <li><a href="contact/">Contact</a></li>
        </ul>
    </body>
</html>