<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>The contact page at <strong><%= new Date %></strong></p>
        <ul>
            <li><a href="/<%= stage %>/">Home Page</a></li>
            <li><a href="/<%= stage %>/about/">About</a></li>
        </ul>
    </body>
</html>